<%= form_with model: [ post, Comment.new ] do |form| %>
<h1 class="font-bold"> Your comment:  </h1> <br>
<div>
    <%= form.text_field :user_id, value: current_user.id, type: "hidden" %>
</div>

<%= form.text_area :content, class: "w-full rounded-lg border-gray-200 align-top shadow-sm sm:text-sm mb-[30px]" %>
<%= form.submit class: "rounded-md bg-teal-600 px-5 py-2.5 text-sm font-medium text-white transition hover:bg-teal-700" %>



<% end %>